/* a minimalist set of CSS resets */

@font-face {
  font-family: VectrX;
  src: url(https://cdn.glitch.global/f2e558c1-0728-4f7a-8020-854d50f81021/VectrX.otf);
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: VectrX, sans-serif;
  line-height: 1.5;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}

.box {
  display: inline-block;
  font-family: VectrX, sans-serif;
  line-height: 1.5;
  color: lime;
  background: black;
  border: 0.3vh lime solid;
  border-radius: 0.3vh;
  padding: 0 1vh;
}

.fullscreen-button {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
}

#start .box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
}

#restart .box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
}

.score-container {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

.score {
  min-width: 10vh;
  text-align: right;
  font-size: 4vh;
  background: black;
  border: 0.3vh lime solid;
  border-radius: 0.3vh;
}

.score:empty {
  display: none;
}

.score::before {
  font-size: 1.2vh;
  vertical-align: text-top;
  padding-right: 1vh;
}

#best {
  color: yellow;
  border-color: yellow;
}

#best::before {
  content: "TOP";
}

#score::before {
  content: "SCORE";
}
