/* a minimalist set of CSS resets */

@font-face {
  font-family: VectrX;
  src: url(https://cdn.glitch.global/f2e558c1-0728-4f7a-8020-854d50f81021/VectrX.otf);
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: VectrX, sans-serif;
  line-height: 1.5;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}

.score-container{
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

.score {
  display: inline-block;
  min-width: 10vh;
  padding: 0 1vh;
  text-align: right;
  font-size: 4vh;
  color: lime;
  background: black;
  border: 0.3vh lime solid;
  border-radius: 0.3vh;
}

.score:empty {
  display: none;
}

#best {
  color: yellow;
  border-color: yellow;
}

#best::before {
  content: "TOP";
  font-size: 1vh;
}