/* a minimalist set of CSS resets */

@font-face {
  font-family: VectrX;
  src: url(assets/VectrX.otf);
}

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: VectrX, sans-serif;
  line-height: 1.5;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: black;
}

#fullscreen {
  display: inline-block;
  position: absolute;
  left: 1vh;
  bottom: 1vh;
  border: none;
  background: none;
  color: yellow;
  font-size: 4vh;
  cursor: pointer;
}

#fullscreen .label {
  font-family: VectrX, sans-serif;
  font-size: 3vh;
}

#fullscreen:not(:hover) .label {
  display: none;
}

@media all and (display-mode: fullscreen) {
  #fullscreen {
    display: none;
  }
}

.box {
  display: inline-block;
  font-family: VectrX, sans-serif;
  line-height: 1.5;
  color: lime;
  background: black;
  border: 0.3vh lime solid;
  border-radius: 0.3vh;
  padding: 0 1vh;
}

.fullscreen-button {
  position: absolute;
  left: 0;
  right: 0;page
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#start .splash {
  display: block;
  position: relative;
  top: clamp(-32.5vh, calc(50vh - 40vw), 0px);
  width: 100%;
  max-height: 165%;
  object-fit: contain;
}

#start .instructions {
  position: absolute;
  bottom: 50%;
  right: 20%;
  text-align: right;
  font-family: VectrX, sans-serif;
  letter-spacing:0.1em;
  font-weight: bold;
  font-size: 4vh;
  line-height: 1.5;
  color: lime;
}

#start .box {
  font-size: 5vh;
  cursor: pointer;
}

body:not(.title) #start {
  display: none;
}

#restart .box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vh;
  cursor: pointer;
}

body:not(.dead) #restart {
  display: none;
}

.score-container {
  position: absolute;
  bottom: 1vh;
  right: 1vh;
}

.score {
  min-width: 10vh;
  text-align: right;
  font-size: 4vh;
  background: black;
  border: 0.3vh lime solid;
  border-radius: 0.3vh;
}

.score:empty {
  display: none;
}

.score::before {
  font-size: 1.2vh;
  vertical-align: text-top;
  padding-right: 1vh;
}

#best {
  color: yellow;
  border-color: yellow;
}

#best::before {
  content: "TOP";
}

#score::before {
  content: "SCORE";
}
